**/test/**
**solution**
**/video/**
**/private/**
**/TODO.*
_meta/clipart/
**/fisaDisciplinei/**
**/examen/**
**rezults**
**/checker/**
**DO NOT SHARE**
**Licenta**
**Disertatie**
.DS_Store
*.exe
**bibliography**

